@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src:
    url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src:
    url('/fonts/HelveticaNowDisplay-bold.woff2') format('woff2'),
    url('/fonts/HelveticaNowDisplay-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-helvetica-display: 'Helvetica Now Display', sans-serif;
}

@theme {
  --font-helvetica-display: 'Helvetica Now Display', sans-serif;
  --color-main: #0B2434;
  --color-second: #2a8e9e;
  --breakpoint-xs: 30rem;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-helvetica-display);
}